<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
	 aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a class="nav-item nav-link active" href="/pages/index">Home<span class="sr-only">(current)</span></a>
			<a class="nav-item nav-link" href="/pages/search">Search</a>
			<a class="nav-item nav-link" href="/pages/create">Create</a>
			<a class="nav-item nav-link" href="/pages/admin">Admin</a>
		</div>
	</div>
</nav>

<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-4">Event Management System</h1>
		<p class="lead">HKBU Event Management System is a web-based system for department and student societies to
			broadcast events and activities as well as registration.
		</p>
	</div>
</div>

<div class="container" style="padding:10px 10px 10px 10px">

	<div class="card col-sm-12" style="padding:10px 10px 10px 10px">
		<h4>
			<%= event.name %>
		</h4>
		<div class="row" style="margin:10px 10px 10px 10px">

			<img class="col-sm-4" height="400px" src="<%= event.imageURL %>" alt="Card image">

			<div class="container col-sm-8">
				<div class="card" style="padding:10px 10px 10px 10px">
					<p class="card-text">
						<%= event.fullDescription %>
					</p>
				</div>
				<div class="card" style="padding:10px 10px 10px 10px">
					<p class="card-text">
						Organizer:
						<%= event.organizer %>
					</p>
				</div>
				<div class="card" style="padding:10px 10px 10px 10px">
					<p class="card-text">
						Date:
						<%= event.eventDate %>
					</p>
				</div>
				<div class="card" style="padding:10px 10px 10px 10px">
					<p class="card-text">
						Time:
						<%= event.time %>
					</p>
				</div>
				<div class="card" style="padding:10px 10px 10px 10px">
					<p class="card-text">
						Venue:
						<%= event.venue %>
					</p>
				</div>

				<div class="card" style="padding:10px 10px 10px 10px">
					<p class="card-text">
						Quota:
						<%= event.quota %>
					</p>
				</div>

			</div>
		</div>
	</div>
</div>